example_chat_gpt.py
.env
train_bot.log
tracking_train.sqlite3
tests_for_bot.txt
test.py
test_rw_by.html
test_bot.sql
telegram_bot.py
main_learn.py
example.py
example.html
deep_seek_format.py
.gitignore
new.txt
__pycache__/
.git/
*.pyc
*.log
*.db
*.sqlite3
*.sql
.env
.vscode
